<div class="form_wrapper">

  <section class="login_form_sec">
    
            
               <div class="left_hand_banner_sec" style="background-image: url({{ base_path ~ directory }}/images/form_pages_banner.jpg">
                <div class="form_logo">
                    <h1><a href="{{ base_path }}"><img src="{{ base_path ~ directory }}/images/OP-Logo_preview.png" alt="facility icon" alt="Open Plateform"></a></h1>
                </div>
                <div class="avail_platform">
                    <ul>
                       <li>
                           <div class="facility_desc_icon">
                               <img src="{{ base_path ~ directory }}/images/digital_payment.png" alt="facility icon" />
                           </div>
                           <h4 class="subhead colorWhite">Strategic fit for digital payment</h4> 
                       </li>
                       <li>
                           <div class="facility_desc_icon">
                               <img src="{{ base_path ~ directory }}/images/global_presence.png" alt="facility icon" />
                           </div>
                           <h4 class="subhead colorWhite">Make your global presense</h4> 
                       </li> 
                       <li>
                           <div class="facility_desc_icon">
                               <img src="{{ base_path ~ directory }}/images/records_icon.png" alt="facility icon" />
                           </div>
                           <h4 class="subhead colorWhite">Track your records</h4> 
                       </li>  
                    </ul>
                </div>
            </div>
            

                   <div class="right_hand_form_sec user-register-section">
                <div class="form_details">
                    <div class="form_head">
                        <h3 class="meadium_head text-black user-heading" style="font-family: 'Open Sans', sans-serif;">Create Account</h3>
                        <p>Enter your details below</p>
                    </div>
                    <div class="openplatform-user-login-form-wrapper form_style">
                      {{ page.content }}
                      
                    </div>
                </div>
            </div>
            
       
    </section>
  
  
  
</div>
